.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 400px;
    margin: 0 auto;
}

.custom-heading {
  font-size: 24px;
  color: #333;
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
  border: none;
  max-width: fit-content;
  border-radius: 5px;
  text-align: center;
}
